[submodule "submodules/beets-config"]
	path = submodules/beets-config
	url = ssh://git@gitea.pestctrl.io:2223/pestctrl/beets-config.git
[submodule "submodules/tmux-config"]
	path = submodules/tmux-config
	url = git@github.com:pestctrl/tmux-config
[submodule "submodules/wezterm-config"]
	path = submodules/wezterm-config
	url = git@github.com:pestctrl/wezterm-config
[submodule "submodules/work-bash-config"]
	path = submodules/work-bash-config
	url = git@github.com:pestctrl/work-bash-config
